.mainTitle {
    color: var(--primary-color);
    font-weight: 800;
    font-size: x-large;
}

.label {
    font-size: large;
    font-weight: 600;
    color: var(--primary-color);
}

.option {
    color: var(--primary-color);
}

:host ::ng-deep .p-inputtext {
    width: 40rem !important;
}

:host ::ng-deep .p-inputtext:hover,
:host ::ng-deep .p-inputtext:focus {
    border-color: var(--primary-color);
}

:host ::ng-deep .p-button {
    background-color: var(--primary-color);
    width: 40rem !important;

}

:host ::ng-deep .p-button:not(:disabled):hover {
    background-color: var(--primary-color);

}